# Configuración del Backend Django & Django REST Framework - BrigadaHostel
DEBUG=True
SECRET_KEY=django-insecure-brigada-hostel-secret-key-2026-xyz!
ALLOWED_HOSTS=*

# Motor de Base de Datos: SQLite relacional autónoma
DB_ENGINE=sqlite

# Frontend Origin
CORS_ALLOWED_ORIGINS=http://localhost:4200,http://127.0.0.1:4200
